shamefully-hoist=true
package-import-method=copy
store-dir=.pnpm-store
fetch-retries=10
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=200000
fetch-timeout=600000
network-concurrency=2
child-concurrency=2
lockfile-write-attempts=5
prefer-offline=false
verify-store-integrity=false
side-effects-cache=false
enable-pre-post-scripts=true
